@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



:root{
    --family1: 'Rubik', sans-serif;
    --family2: 'Noto Naskh Arabic', serif;
    --family3: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url(../technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}



/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
} */


div.offcanvas{
    backdrop-filter: blur(25px);
    background-color: transparent;
}


ul{
    background-image: linear-gradient(to right,#2e3138,#171a25,#282832);
    height: 60px;
    width: 700px;
}


ul > li{
    padding: 22px 0px;
}


ul > li > a{
    list-style-type: none;
    text-decoration: none;
    color: rgba(178, 172, 172, 0.724);
    font-family: var(--family1);
    font-size: 13px;
    transition: .5s;  
}


ul > li > a:visited{
    color: rgba(178, 172, 172, 0.724) ;
}

span{
    color: white;
}



main{
    margin-top: 160px;
}

div.cover1 > img{
    height: 370px;
}

div.cover2{
    margin-left: -250px;
}

div.cover2 > h5{
    margin-top: 4px;
    color: white;
    font-family: var(--family2);
    font-weight: 100;
    font-size: 40px;

}

div.cover2 > p{
    color: rgba(255, 255, 255, 0.423);
    font-family: var(--family1);
    margin-top: 60px;
}

div.cover2 > p~p{
    color: rgba(255, 255, 255, 0.541);
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.7;
}

div.numbers{
    margin-top: 41px;
    margin-left: 200px;
}

div.numbers > p{
    margin-top: 10px;
    padding: 20px 25px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    font-size: 25px;
}

div.numbers > p~p{
    border: 1px solid rgba(255, 255, 255, 0.276);
    background-color:transparent;
    color: white;
}















/* 

div.parag{
    display: flex;
    position: relative;
    top: 60px;
    color: rgba(255, 255, 255, 0.775);
    font-family: var(--family3);
    padding-left: 220px;
}

span.span1{
    color: rgba(255, 255, 255, 0.285);
    font-size: 18px;
}

div.parag > p{
    padding-left: 20px;
    font-size: 18px;

}

main{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

div.cover1 > img{
    height: 370px;
}

div.cover2{
    margin-left: -250px;
}

div.cover2 > h5{
    margin-top: 4px;
    color: white;
    font-family: var(--family2);
    font-weight: 100;
    font-size: 40px;

}

div.cover2 > p{
    color: rgba(255, 255, 255, 0.423);
    font-family: var(--family1);
    margin-top: 60px;
}

div.cover2 > p~p{
    color: rgba(255, 255, 255, 0.541);
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.7;
}

div.numbers{
    margin-top: 41px;
    margin-left: 200px;
}

div.numbers > p{
    margin-top: 10px;
    padding: 20px 25px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    font-size: 25px;
}

div.numbers > p~p{
    border: 1px solid rgba(255, 255, 255, 0.276);
    background-color:transparent;
    color: white;
}
 */
